<!DOCTYPE html>
<html>

<head>
    <title>Cadence Reader</title>
</head>

<body>
    <script>
        var idx = 0;
        async function getData() {
            console.log("getData called")
            const url = "http://localhost:8081/post/{{.ID}}/word/"+idx;
            try {
                const response = await fetch(url);
                if (!response.ok) {
                    throw new Error(`Response status: ${response.status}`);
                }

                const result = await response.text();

                var div = document.getElementById('append');
                div.innerText += result
                idx++
            } catch (error) {
                console.error(error.message);
            }
        }
    </script>
    <h2>Cadence Reader</h2>
    <h4>{{.Title}}</h4>
    <p>
    <div id="append"></div>
    <br />
    <button onclick="getData()">get data</button>
    <br />
    <br />
    <a href="/add-blog">Add your Blog's RSS feed here</a><br />
    <a href="https://github.com/somethingsoftware/cadencereader">This site is open source! check out the code here</a>
    </p>
</body>

</html>