<!DOCTYPE html>
<html>

<head>
    <title>Cadence Reader</title>
</head>

<body>
    <h2>Cadence Reader</h2>
    <h4>{{.Title}}</h4>
    <p>
    post id: {{.ID}}
  
    <br />
    <br />
    <a href="/add-blog">Add your Blog's RSS feed here</a><br />
    <a href="https://github.com/somethingsoftware/cadencereader">This site is open source! check out the code here</a>
    </p>
</body>

</html>